<!doctype>
<html>
        <head>
                <title> Stats </title>
                <a href ='/sightings'>sightings page</a>
                <h1 align="center"> Squirrel sighting statistics</h1>
        </head>
        <body>
                <p>
			<table style="width:100%">
  				<tr>
   			 		<th>Statistic</th>
   			                <th>Count</th> 
 			        </tr>
 				 <tr>
   					 <td>Total Squirrels</td>
					 <td>{{ squirrel_count }}</td> 
 				 </tr>
 				 <tr>
   					 <td>Eating squirrels</td>
					 <td>{{ Eating_count }}</td> 
 				 </tr>
				 <tr>
					 <td>Moaning squirrels</td>
					 <td>{{ Moans_count }}</td>
				 </tr>
				 <tr>
					 <td>Running squirrels</td>
					 <td>{{ Running_count }}</td>
				 </tr>
				 <tr>
					 <td>Climbing squirrels</td>
					 <td>{{ Climbing_count }}</td>
				</tr>


			</table>
                </p>
        </body>
</html>
